/*GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*.scrollable {
  scroll-behavior: smooth;
}*/

/*When user zooms out on desktop element will remain structured*/
@media only screen and (min-width: 1441px) {

 #remove-buttom-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border:none;
}

  /* Default styles */
  body {
    font-size: 21px;
    font-family: "Montserrat";
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    /*background-color: rgb(91, 131, 167);*/



  }

  header {

    background-color: rgb(52, 65, 107);
    height: 100px;
    font-family: "Montserrat";
  }

  nav ul {
    display: flex;
    height: 100px;
    place-items: center;
  }

  nav li {
    list-style: none;
    margin-left: 15%;
  }

  nav li a {
    color: white;
  }



  .skillsArticle {
    margin: 10% 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-family: "Montserrat";
    color: rgb(255, 128, 0);


  }

  .educationArticle {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
    margin: 0px 10%;
    font-family: "Montserrat";
  }

  .article {
    display: flex;
    border-bottom: 1px solid darkgreen;
    margin: 0px 10%;
    font-family: "Montserrat";
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  /* #img-sum-order {
    background-image: linear-gradient(315deg,#3b85b7 0%, #0400f396 74%, rgb(95, 124, 252));

  }*/

  .screenshot {
    /*IMAGE INSIDE img-container*/
    object-fit: contain;
    width: 300px;
    height: 300px;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
    padding: 0px 10%;
  }

  #des {
    font-family: "Montserrat";
    width: 700px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #des a {
    text-decoration: none;
    color: rgb(67, 112, 209);

  }

  #des a:visited {
    color: rgb(67, 112, 209);
  }

  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }


  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

  }

  .more a {
    text-decoration: none;
    color: rgb(67, 112, 209);

  }

  /*form section*/

  form {
    margin: 15% 15%;
    font-family: "Montserrat";

  }

  a {
    font-family: "Montserrat";
  }

  /**footer section */
  footer {
    background-color: rgb(52, 65, 107);
    height: 200px;

  }

  footer ul {
    display: flex;
  }

  footer ul li {
    display: flex;
    list-style: none;
    margin: 10px;
  }

  footer a {
    color: white;
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
  }


}

/**when desktop is at 100% not zoomed in or out*/
@media only screen and (max-width: 1440px) {

  #remove-buttom-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border:none;
}

  /* Default styles */
  body {
    font-size: 21px;
    font-family: "Montserrat";
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    /*background-color: rgb(91, 131, 167);*/



  }

  header {

    background-color: rgb(52, 65, 107);
    height: 100px;
    font-family: "Montserrat";
  }

  nav ul {
    display: flex;
    height: 100px;
    place-items: center;
  }

  nav li {
    list-style: none;
    margin-left: 15%;
  }

  nav li a {
    color: white;
  }



  .skillsArticle {
    margin: 10% 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-family: "Montserrat";
    color: rgb(255, 128, 0);


  }

  .educationArticle {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
    margin: 0px 10%;
    font-family: "Montserrat";
  }

  .article {
    display: flex;
    border-bottom: 1px solid darkgreen;
    margin: 0px 10%;
    font-family: "Montserrat";
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  /* #img-sum-order {
    background-image: linear-gradient(315deg,#3b85b7 0%, #0400f396 74%, rgb(95, 124, 252));

  }*/

  .screenshot {
    /*IMAGE INSIDE img-container*/
    object-fit: contain;
    width: 300px;
    height: 300px;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
    padding: 0px 10%;
  }

  #des {
    font-family: "Montserrat";
    width: 700px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #des a {
    text-decoration: none;
    color: rgb(67, 112, 209);

  }

  #des a:visited {
    color: rgb(67, 112, 209);
  }

  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }


  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

  }

  .more a {
    text-decoration: none;
    color: rgb(67, 112, 209);

  }

  /*form section*/

  form {
    margin: 15% 15%;
    font-family: "Montserrat";

  }

  a {
    font-family: "Montserrat";
  }

  /**footer section */
  footer {
    background-color: rgb(52, 65, 107);
    height: 100px;

  }

  footer ul {
    display: flex;
  }

  footer ul li {
    display: flex;
    list-style: none;
    margin: 10px;
  }

  footer a {
    color: white;
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
  }


}


/*TABLET-DESIGN when tablet device faced upwards(longest side)*/


@media only screen and (max-width: 640px) {

  #remove-buttom-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border:none;
}
  * {
    box-sizing: border-box;
    font-family: "Montserrat";
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
  }


  body {
    font-size: 14px;
    margin: 0%;
    padding: 0%;
  }

  header {
    /* max-height: fit-content;*/
    background-color: rgb(52, 65, 107);
    width: 100%;
  }

  header nav {
    display: flex;
    place-items: center;
    height: 100px;
  }

  nav ul li {

    margin: 0px 30px;

  }

  header a {

    text-decoration: none;

  }

  nav li a {
    color: white;
  }

  /**/

  /*skills section*/

  .skillsArticle {
    display: flex;
    justify-content: center;
    height: 450px;
    flex-direction: column;
    align-items: center;
    margin: 0px 10%;
    color: rgb(255, 128, 0);


  }

  /*education article*/
  .educationArticle {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
    margin: 0px 10%;
  }


  /*project article section*/

  .article {
    display: block;
    border-bottom: 1px solid darkgreen;
    margin: 0px 10%;

  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;

    /*min-width: fit-content;*/
  }

  .screenshot {
    /*IMAGE INSIDE img-container*/
    object-fit: contain;
    height: 200px;
    width: 200px;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-direction: column;
  }

  #des {
    font-family: "Montserrat";
    width: 350px;
    margin-top: -150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #des a {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  #des a:visited {
    color: rgb(67, 112, 209);
  }

  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }


  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

  }

  .more a {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  form {
    margin: 0px 10%;
    margin-top: 10%;
  }


  footer {
    background-color: rgb(52, 65, 107);
    height: 100px;
  }

  footer a {
    color: white;
  }

  footer ul {
    display: flex;
  }

  footer ul li {
    list-style: none;
    margin: 5px;
  }



}


/*Mobile-
when user clicks desktop version in their phone, 
images despair because there is not enough pixels to allocate*/


@media only screen and (max-width: 320px) {
  
  #remove-buttom-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border:none;
}
  
  * {
    box-sizing: border-box;
    font-family: "Montserrat";
  }



  body {
    font-size: 7px;
    font-family: "Montserrat";
    margin: 0%;
    padding: 0%;
  }

  header {

    /* max-height: fit-content;*/
    background-color: rgb(52, 65, 107);
    width: 100%;


  }

  header nav {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;


  }

  nav ul li {

    margin: 0px 7px;

  }

  header a {

    text-decoration: none;

  }



  nav ul li a:visited {
    color: rgb(255, 255, 255);
  }

  /**/

  /*skills section*/

  .skillsArticle {
    display: flex;
    justify-content: center;
    height: 225px;
    flex-direction: column;
    align-items: center;
    margin: 0px 5%;
    color: rgb(255, 128, 0);

  }

  /*education article*/
  .educationArticle {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
    margin: 0px 5%;
  }


  /*project article section*/

  .article {
    display: block;
    border-bottom: 1px solid darkgreen;
    margin: 0px 5%;

  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    /*min-width: fit-content;*/
  }

  .screenshot {
    /*IMAGE INSIDE img-container*/
    object-fit: contain;
    height: 100px;
    width: 100px;
  }

  .img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    flex-direction: column;
  }

  #des {
    font-family: "Montserrat";
    width: 700px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  #des a {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  #des a:visited {
    color: rgb(67, 112, 209);
  }

  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }


  .ext-website {
    text-decoration: none;
    color: rgb(67, 112, 209);
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

  }

  .more a {
    text-decoration: none;
    color: rgb(67, 112, 209);



  }

  form {
    margin: 0px 5%;
    margin-top: 5%;
  }

  /*footer*/
  footer {
    background-color: rgb(52, 65, 107);
    height: 50px;
    width: 100%;

  }

  footer a {
    color: white;
  }

  footer ul {
    display: flex;


  }

  footer ul li {
    list-style: none;
    margin: 3px;
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
  }
}